.Marca {
    color: rgb(255, 61, 126);
}

.Marca {
    font-size: 40px;
}

.tabla-de-talles {
    background-color: rgb(170, 90, 123);
}

.title {
    color: cyan;
}

.title {
    font-size: 20px;
}

.Form {
    color: rgb(247, 46, 203);
}

.Form {
    font-size: 20.px;
}